<% provide :title, t(".title_page") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %><%= t "static_pages.title_page_general" %></title>
  </head>
  <body>
    <h1><%= t ".title_page" %></h1>
    <p>
      <%= t ".the" %><%= link_to t("static_pages.ruby"), "http://www.railstutorial.org/" %>
      <%= t ".is" %>
      <%= link_to t(".book"), "http://www.railstutorial.org/book" %>
    </p>
  </body>
</html>
